.course-category__wrapper {
    background: #1C1C1C;
}

.course-category {
    border-radius: 15px 15px 0px 0px;
    background: #2D323D;
}

.course-category__inner {
    display: flex;
    justify-content: space-around;
}