.create-back {
    display: inline-flex;
    align-items: center;

    background-color: lightsalmon;
    padding: 10px 20px;
    border-radius: 20px;

    margin-bottom: 8px;
}

.create-back__text {
    margin-left: 5px;
}