.quiz__inner {
    margin-top: 10px;

}

.quiz__content {
    margin-bottom: 11px;
}

.quiz__question {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;

    color: #D1D1D6;
    margin-bottom: 5px;
}

.quiz__title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.quiz__answers {}