.admin-panel__buttons {
    margin: 5px 0;
    display: flex;
}

// ADMIN PANEL STATIC

.admin-panel-static {
    padding: 13px 14px 18px;

    background: #212632;
    border-radius: 15px;

    min-height: 350px;
}

.admin-panel-course__item {
    font-weight: bold;
}

.admin-panel-period {
    margin-bottom: 15px;
    font-weight: bold;
}

.admin-panel-period__title {
    font-size: 20px;
}

.admin-panel-period__date {

}
