// ADMIN PANEL BUTTON

.admin-panel-button {
    display: inline-flex;
    align-items: center;

    background: #212632;
    border-radius: 15px;

    padding: 18px 16px;
}

.admin-panel-button__text {
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    margin-right: 5px;
}