.create-course-block {
    background-color: lightseagreen;
}

// create buttons

.create-course__buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.create-course__button {
    background-color: #34B547;
    padding: 10px 15px;
}